[defaults]
inventory = hosts
host_key_checking = false
gathering = smart
fact_caching = jsonfile
fact_caching_connection = .ansible_facts_cache
fact_caching_timeout = 86400
;roles_path = ../../roles
forks = 50

[privilege_escalation]
become = true

[colors]
;changed = yellow
;debug = dark gray
;deprecate = purple
;diff_add = green
;diff_lines = cyan
;diff_remove = red
;error = red
;highlight = white
;ok = green
;skip = cyan
;unreachable = bright red
verbose = cyan
;warn = bright purple
